<a href="https://colab.research.google.com/github/MaddieMcGreevy/Maddie123/blob/main/MaddieClass2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
# Create a dictionary

person = {
    "first_name": 'Wayne',
    "last_name": 'Gretsky',
    "nationality": 'Canada',
    "birth_year": 1961
}
person['first_name']
person['first_name'] = 'Jane' # We can change Wayne's name to Jane
person

{'first_name': 'Jane',
 'last_name': 'Gretsky',
 'nationality': 'Canada',
 'birth_year': 1961}

# EXERCISE: create a dictionary called car_type with your choice of a car brand, model, year, usnews_rating, and engine size.

In [3]:
car_type = {
    "car_brand": 'Volkswagen',
    "model": 'Tiguan',
    "year": '2024',
    "usnews_rating": '9.0/10',
    "engine_size": 2.0
}
car_type

{'car_brand': 'Volkswagen',
 'model': 'Tiguan',
 'year': '2024',
 'usnews_rating': '9.0/10',
 'engine_size': 2.0}

In [4]:
#LIST

primes = [2, 3, 5, 7, 11]
users = ["Dillon", "Michael", "Lea"]
users[-1]

'Lea'

In [5]:
users[0] = 'Madison'
users

['Madison', 'Michael', 'Lea']

In [6]:
users.append('Rachel')
users

['Madison', 'Michael', 'Lea', 'Rachel']

In [7]:
users.pop()
users

['Madison', 'Michael', 'Lea']

In [8]:
# List with dictionaries as each item

products = [
    {"name": "IPhone 12", "price": 949},
    {"name": "Fairphone", "price": 419},
    {"name": "Pixel 5", "price": 799}]

# Create a list with dictionaries of 3 people with their names, ages, city of birth, and occupation.

In [14]:
people_family= [
    {"name": "Lillian", "age": "19", "city_of_birth": "Syracuse", "occupation": "Student"},
    {"name": "Maeve", "age": "17", "city_of_birth": "Syracuse", "occupation": "Student"},
    {"name": "Evie", "age": "15", "city_of_birth": "Syracuse", "occupation": "Student"}]

## Tuples

In [15]:
point_dict = {"x": 2, "y": 4}
point_tuple = (2, 4)

date_dict = {
  "year": 1973,
  "month": 10,
  "day": 23
}
date_tuple = (1973, 10, 23)

date_tuple[0] # 1973
len(date_tuple) # 3

3

In [16]:
a = [1, 2, 3]
b = a
b.append(4)
a

[1, 2, 3, 4]

OBJECT REFERENCES AND MUTATIONS

In [17]:
a = [1, 2, 3]
b = a
b.append(4)

In [18]:
a = [1, 2, 3]
# creating a new copy
b = a.copy()
# modifying b
b.append(4)
a

[1, 2, 3]

## INPUT AND OUTPUT OF TEXT

In [19]:
print("What is your name?")
name = input()
name
print("Nice to meet you, " + name)
name_length = len(name)
name_length

What is your name?
Maddie
Nice to meet you, Maddie

6

## Write a program which will ask the user for their birth year and will respond with the user's age in the year 2025.

In [29]:
print("what is your birth year?")
birth_year = input()
birth_year = int(birth_year)
age = 2025 - birth_year
age
print("You will be " + str(age) + " in the year 2025")

what is your birth year?
2003
You will be 22 in the year 2025

In [23]:
import random

print(random.randint(1, 6))
print(random.choice(["heads", "tails"]))

2
tails